@font-face {
  font-family: "iconfont"; /* Project id 4444371 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1709537329883') format('woff2'),
       url('iconfont.woff?t=1709537329883') format('woff'),
       url('iconfont.ttf?t=1709537329883') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigou_kuai:before {
  content: "\ed1d";
}

.icon-weixinzhifu:before {
  content: "\e62c";
}

.icon-alipay:before {
  content: "\e6a4";
}

.icon-rengongkefu:before {
  content: "\e87c";
}

.icon-hengxian1:before {
  content: "\e600";
}

